.cell {
    font-size: 40px;
}
.td-label {
    font-size: 40px;
    width:20%;
    vertical-align:middle;
    padding-right:20px;
}
.context {
    -webkit-border-radius:10px;
    background-color:#F2F7F6;
    margin:20px;
    padding:15px;
    border-radius:10px;
    color:#333;
    display:-moz-inline-box; 
    display:inline-block; 
    font-size: 36px;
    font-weight: bold;
}
.selectedContext {
    -webkit-border-radius:10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#D4C7C7)) !important;
    background: -moz-linear-gradient(top, #E5E5E5, #D4C7C7) !important;
    margin:20px;
    font-weight: bold;
    padding:15px;
    border-radius:10px;
    color: #666 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    display:-moz-inline-box; 
    display:inline-block; 
    font-size: 36px;
}
.list-context {
    -webkit-border-radius:10px ; background-color:#E0E5E4 ;
    margin:5px 5px 5px 5px     ; padding:5px 8px 8px 8px  ;
    border-radius:10px         ; color:#333               ;
    display:-moz-inline-box    ; display:inline-block     ;
    font-size:24px             ; line-height:24px         ;
}
.list-project {
    /*-webkit-border-radius:10px ; background-color:#D0D4D3 ; */
    /*margin:10px 10px 10px 10px ; padding:12px             ; */
    /*border-radius:10px         ; color:#333 ; */
    /*display:-moz-inline-box    ; display:inline-block     ; */
    /*font-size:11px             ; line-height:18px         ; */
    margin-right:10px;
    font-size:24px;
}

.list-due {
    margin-left: 10px;
    font-size:24px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    /*border-top: 1px solid #333;*/
    /*padding-top: 5px;*/
}

.list-overdue {
    margin-left: 10px; 
    font-size:24px;
    color: red !important;
    /*font-weight: bold;*/
    border-bottom: 1px solid red;
    padding-bottom: 2px;
    /*border-top: 1px solid red;*/
    /*padding-top: 5px;*/
}

#group {
    border: 4px solid #379082; 
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 50px;
    /*float:left;*/
    width:22%;
    height:1000px;
    margin:25px 0 15px 0;
}
#detail-list-panel {
    border: 4px solid #379082; 
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 40px;
    -webkit-border-bottom-right-radius: 0px;
    /*float:right;*/
    width:78%;
    background-color:#FFF;
    height:1015px;
    margin:10px 0 15px 0;
    position:absolute;
    top:0px;
    left:168px;
}
#add-new-link {
    text-align: center;
    margin-top: 10px;
}

#meta_name::-webkit-input-placeholder, 
#task-name::-webkit-input-placeholder {
    color: red;
}
