#group {
    border: 2px solid #379082; 
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 50px;
    /*float:left;*/
    width:32%;
    height:1000px;
    margin:25px 0 15px 0;
}

#detail-list {
    border: 2px solid #379082; 
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 40px;
    -webkit-border-bottom-right-radius: 0px;
    /*float:right;*/
    width:70%;
    background-color:#EEE;
    height:1015px;
    margin:10px 0 15px 0;
    position:absolute;
    top:0px;
    left:240px;
}

#add-new-link {
    text-align: center;
    margin-top: 10px;
}
