.idea
.swp
*.swp
*.idea
*.bak
*.vim
*.log
atlassian-ide-plugin.xml
jsTestDriver.conf
runJsTestDriver.sh
target
test/regression/sahi/bin
test/regression/sahi/logs
test/regression/sahi/reports
test/regression/.metadata/*
test/regression/*
*~
[#]*[#]
.\#*
