<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.thoughtworks.twist.eclipse.ui.launch.scenarioLaunchConfigurationType">
<stringAttribute key="CONF_FOLDER" value="conf"/>
<mapAttribute key="launch_config">
<mapEntry key="launch_style" value="active-editor"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.thoughtworks.twist.core.ScenarioExecutorMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sahi"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms256m -Xmx512m -Dfile.encoding=UTF-8 -XX:MaxPermSize=256m "/>
<listAttribute key="scenario_files_to_launch">
<listEntry value="/Users/larry/Text/Projects/BB10/gtd/codes/test/regression/Sahi/scenarios/Default Page Elements Existing.scn"/>
</listAttribute>
</launchConfiguration>
