<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:rim="http://www.blackberry.com/ns/widgets" id="MindLikeWater" version="0.0.3" rim:header="RIM-Widget:rim/widget" xmlns="http://www.w3.org/ns/widgets">
    <rim:navigation mode="focus" />
    <rim:splash src="resources/image/splash-768x1280.jpg" />
    <rim:permit>post_notification</rim:permit> 
    <rim:permit system = 'true'>_sys_use_consumer_push</rim:permit> 
    <name>Mind like Water</name>
    <description>A GTD Application aimed to help you mind like water, and would like you to stay longer with the most important person in your life.</description>
    <author href="http://larry.ixiezi.com">Liu Xiangqian</author>
    <icon src="resources/image/icon.png" rim:hover="true" />
    <content src="index.html" />
    <feature id="blackberry.identity" />
    <feature id="blackberry.app">
        <param name="orientation" value="portrait" />
    </feature>
    <feature id="blackberry.ui.dialog" /> 
    <feature id="blackberry.ui.toast" />    
    <feature id="blackberry.push" />    
    <feature id="blackberry.app"/>
    <feature id="blackberry.ui.contextmenu" />
    <feature id="blackberry.invoked" version="1.0.0"   required="true" />
    <feature id="blackberry.invoke"  version="1.0.0.0" required="true" />
    <feature id="blackberry.invoke.card" />

    <rim:permissions>
        <rim:permit>post_notification</rim:permit>
        <!-- This permission is needed for a consumer (public) push application only (not enterprise push)! -->
        <rim:permit system="true">_sys_use_consumer_push</rim:permit>
    </rim:permissions>

    <!-- Have an invoke entry here for when a notification is clicked on in the BlackBerry Hub -->
    <!-- This will cause the application to be opened -->
    <rim:invoke-target id="cc.mindlikewater.invoke.open">
        <type>APPLICATION</type>
        <filter>
            <action>bb.action.OPEN</action>
            <mime-type>text/plain</mime-type>
        </filter>
    </rim:invoke-target>  
</widget>
