#view-task-detail {
    display:block;
    width:100%;height:100%;
    -webkit-border-radius:0;
    border-radius:0;
    left:0;
    top:0
}

#view-task-detail-title {
    font-size: 48px;
    line-height: 56px;
}

#view-task-detail-meta {
    font-size: 36px;
}

.task-detail-basket, .task-detail-next-action, .task-detail-someday,
.task-detail-list-context-container, .task-detail-list-project,
.task-detail-list-due, .task-detail-list-overdue,
.task-detail-past-alarm, .task-detail-future-alarm {
    max-width:600px;
    width:600px;
}

.task-detail-list-overdue {
    max-width:400px;
    width:400px;
}
#task-operation-list {
    margin-left: 30px;
    display: none;
    position: absolute;
    bottom: 50px;
}
#task-postpone-list {
    margin-left: 30px;
    display: none;
    position: absolute;
    bottom: 50px;
}

#finish, #postpone, #delete {
    float:left;
    width:25%;
    margin: 50px 20px 0 40px;
}

#finish-icon, #postpone-icon, #delete-icon {
    padding-bottom: 20px;
    display: inline-block;
}

#finish-label, #postpone-label, #delete-label {
    text-align:center;
    margin:auto;
    min-width:128px;
    display:inline-block;
}

#task-postpone-list {
   display:none;
}
