.cell {
    font-size: 40px;
}
.td-label {
    font-size: 40px;
    width:20%;
    vertical-align:middle;
    padding-right:20px;
}
.selectedContext {
    -webkit-border-radius:10px;
    background-color:#E1E6E5;
    margin:20px;
    padding:15px 20px 15px 15px;
    border-radius:10px;
    color:#333;
    display:inline-block; 
    font-size: 36px;
    font-weight: bold;
    position:relative;
}
.context {
    -webkit-border-radius:10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#D4C7C7)) !important;
    background: -moz-linear-gradient(top, #E5E5E5, #D4C7C7) !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    margin:20px;
    font-weight: bold;
    padding:15px;
    border-radius:10px;
    color: #444 !important;
    display:inline-block; 
    font-size: 36px;
    opacity:0.7;
    position:relative;
}

#contextContainer {
    padding:10px;
}

.deleteIcon {
    position:absolute; top:-10px; right:-10px;
    background-color:transparent;
}
.list-context {
    -webkit-border-radius:10px ;
    margin: 5px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 8px 8px 8px;
    border-radius:10px;
    color:#333;
    display:-moz-inline-box;
    display:inline-block;
    font-size:24px;
    line-height:24px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E0E5E4), to(rgba(204, 204, 204, 0.5)));
}
.list-project {
    margin-right:10px;
    font-size:24px;
}

.list-due {
    margin-left: 10px;
    font-size:24px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

.list-overdue {
    margin-left: 10px; 
    font-size:24px;
    color: red !important;
    border-bottom: 1px solid red;
    padding-bottom: 2px;
}

#group-detail-container {
    height:1060px;
}

#group {
    /*float:left;*/
    width:245px;
    height:1006px;
    margin:0 0 0 0;
    background-color: #EEE;
}

#selected-group-item {
    background-color: #FFF;
}

#group-title {
    padding: 20px 0 20px 20px;
    background-color: #EEE;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom: solid 1px #BBB;
    height:54px;
}

#group-title-text {
    font-size:36px;
}

#group-list-panel {
    max-height:900px;
}

#group-list {}

#group-space {
    text-align: center;
    height:102px;
    line-height:102px;
    color: #AAA;
}

#detail {
    /*float:right;*/
    width:523px;
    background-color:#FFF;
    height:1147px;
    margin:0 0 0 0;
    position:absolute;
    top:0px;
    left:245px;
}

#task-list-container{height:1048px;}

#detail-list{
    height:1130px;
}

#detail-list-panel {
    height:1130px;
}

#meta_name::-webkit-input-placeholder, 
#task-name::-webkit-input-placeholder {
    color: red;
}

#error-msg {
  color:red;
  font-weight: bold;
  margin:auto;
  text-align:center
}

#task-name {
    width: 705px;
    margin: 3px 5px 3px 5px;
    padding: 5px;
    font-size:48px;
    font-family: 'monospaceTextarea';
    line-height:150%;
    outline: none;
    resize: none;
    border:0px solid #000;
}

#ctsi {
    width:700px;
    border: 15px solid rgba(78, 187, 96, 0.56);
    /*height: 120px;*/
    background-color: rgba(168, 223, 117, 0.51);
    color:white;  
    font-family:monospaceTextarea;
    font-size:48px;
    margin: 3px 5px 3px 5px;
    padding: 5px;
    font-size:48px;
    line-height:150%;
}

@font-face {
    font-family:monospaceTextarea;
    src: url('../resources/font/monofur/monof56.ttf');
    font-weight: normal;
    font-style: normal;
}

#edit-page-sub-panel-01,
#edit-page-sub-panel-02,
#edit-page-sub-panel-03 {
    margin-top: 20px;
    margin-bottom:15px;
}

.msg-for-no-task{
    text-align: center; 
    margin: 50px 20px 0 20px;
    min-width: 450px;
}

#error-panel, #error-panel-header, #edit-page-sub-panel-02-reminder-tr {display:none;}
.edit-page-sub-panel-01-td {vertical-align:top;}
.edit-page-sub-panel-02-td {padding-left:23px;}
.edit-page-sub-panel-02-td-label {
    padding-top:50px;
    font-size:40px;
    vertical-align:top;
}

#create-task-input-container {
    display:none;
    position: absolute; 
    left: 26px; 
    top: 50px; 
    z-index: 1000;
    width:0px;
}

#view-task-detail {
    display: none; 
    position: absolute; 
    left: 40px; 
    top: 80px; 
    width: 570px; 
    height: 970px; 
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(163, 163, 163, 0)));
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    z-index: 1000;
}

#view-task-detail-title {
    font-family: 'monospaceTextarea';
    font-size: 48px;
    line-height: 60px;
    padding-top: 35px;
}
#view-task-detail-meta{
    font-size: 30px;
    line-height: 48px;
}
.view-task-detail-meta-separator{
    margin-bottom: 20px;
}
.task-detail-list-context {
    -webkit-border-radius:20px ; 
    background-color:lightgray;
    margin: 10px 20px 10px -10px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:0 10px 0 10px;
    border-radius:20px;
    color:#CCC;
    display:-moz-inline-box;
    display:inline-block;
    border: 1px solid #77777;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(128, 128, 128, 0.5)), to(rgba(46, 46, 46, 0.9)));
}
.task-detail-list-due {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
.task-detail-list-overdue {
    color: red !important;
    border-bottom: 1px solid red;
    padding-bottom: 2px;
}
.view-task-detail-sub-field {
    padding: 20px;
    border-bottom: 1px solid #777;
    border-style: none none solid none;
    margin: 0 20px 0 20px;
}

#main-content-overlay {
    z-index: 20;
    position: fixed;
    top: 0px;
    right:0px;
    bottom:0px;
    left:0px;
    display:none;
    background: rgba(0,0,0, 0.8);
}

.detail-title {
    font-size:36px;
}
.default-master-detail, .master-title {
    font-size:30px;
    max-width:159px;
    float:left;
    overflow:hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.list-task-number-zero, .list-task-number {
    -webkit-border-radius:10px ;
    margin: 10px 20px 5px 5px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 8px 8px 8px;
    border-radius:10px;
    color:#333;
    display:inline-block;
    font-size:24px;
    line-height:24px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E0E5E4), to(rgba(254, 254, 254, 0.5)));
    border:1px solid #CCC;
    float:right;
    text-align: center;
    min-width: 26px;
}
.list-task-number-zero {
    background: transparent;
    border: 0px;
}

#create-task-shortcut {
    min-height:141px; 
    line-height:121px;
    text-align:center;
    height: 141px;
    font-size: 141px;
    color: green;
    background: #EEE;
    border-top: 1px solid #AAA;
    width:245px;
}

#create-task-placeholder {
    background: transparent;
    color: rgba(218, 253, 167, 0.51);
    width: 700px;
    margin-left: 10px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
