.cell {
    font-size: 40px;
}
.td-label {
    font-size: 40px;
    width:20%;
    vertical-align:middle;
    padding-right:20px;
}
.selectedMeta {
    -webkit-border-radius:10px;
    background-color:#E1E6E5;
    margin:15px;
    padding:15px 20px 15px 15px;
    border-radius:10px;
    color:#333;
    display:inline-block; 
    font-size: 24px;
    position:relative;
}
.meta {
    -webkit-border-radius:10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#D4C7C7)) !important;
    background: -moz-linear-gradient(top, #E5E5E5, #D4C7C7) !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    margin:15px;
    padding:15px;
    border-radius:10px;
    color: #444 !important;
    display:inline-block; 
    font-size: 24px;
    opacity:0.7;
    position:relative;
}

#contextContainer, #reminderContainer {
    padding-left:10px;
    margin-bottom: -20px;
}

.deleteIcon {
    position:absolute; top:-10px; right:-10px;
    background-color:transparent;
}

.list-overdue, .list-due, .list-project, .list-context, .list-context-last {
    -webkit-border-radius:10px;
    margin: 5px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 8px 8px 8px;
    border-radius:10px;
    color:#333;
    display:-moz-inline-box;
    display:inline-block;
    font-size:24px;
    line-height:24px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E0E5E4), to(rgba(204, 204, 204, 0.5)));
    float:left;
}

.list-project {
    margin-right:10px;
}

.list-context-last {
    float:left;
}

.list-due {}

.list-overdue {
    margin-left: -5px;
}

#group {
    /*float:left;*/
    width:205px;
    margin:0 0 0 0;
    background-color: #EEE;
}

#selected-group-item {
    background-color: #FFF;
}

#group-title {
    padding: 20px 0 20px 20px;
    background-color: #EEE;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom: solid 1px #BBB;
    height:54px;
}

#group-title-text {
    font-size:36px;
}

#group-list {}

#group-space {
    text-align: center;
    height:102px;
    line-height:102px;
    color: #AAA;
}

#detail {
    /*float:right;*/
    width:523px;
    background-color:#FFF;
    margin:0 0 0 0;
    position:absolute;
    top:0;
    left:205px;
}

#meta_name::-webkit-input-placeholder, 
#task-name::-webkit-input-placeholder {
    color: red;
}

#error-msg {
  color:red;
  font-weight: bold;
  margin:auto;
  text-align:center
}

#task-name {
    width: 705px;
    margin: 3px 5px 3px 5px;
    padding: 5px;
    font-size:48px;
    font-family: 'monospaceTextarea';
    line-height:150%;
    outline: none;
    resize: none;
    border:0 solid #000;
}

#ctsi, #stsi {
    width:700px;
    border: 15px solid rgba(78, 187, 96, 0.56);
    /*height: 120px;*/
    background-color: rgba(168, 223, 117, 0.51);
    color:white;  
    font-family:monospaceTextarea;
    font-size:48px;
    margin: 3px 5px 3px 5px;
    padding: 5px;
    font-size:48px;
    line-height:150%;
}

#stsi {
    height: 110px;
}

@font-face {
    font-family:monospaceTextarea;
    src: url('../resources/font/monofur/monof56.ttf');
    font-weight: normal;
    font-style: normal;
}

#edit-page-sub-panel-01,
#edit-page-sub-panel-02,
#edit-page-sub-panel-03 {
    margin-top: 20px;
    margin-bottom:15px;
}

#edit-page-sub-panel-reminder {
    display:none;
}

.msg-for-no-task{
    text-align: center; 
    margin: 50px 20px 0 20px;
    min-width: 450px;
}

#error-panel, #error-panel-header {
    display:none;
}

#edit-page-sub-panel-02-reminder-tr {
 
}

.edit-page-sub-panel-01-td {vertical-align:top;}
.edit-page-sub-panel-02-td {padding-left:23px;}
.edit-page-sub-panel-02-td-label {
    padding-top:50px;
    font-size:40px;
    vertical-align:top;
}

#create-task-input-container, #search-task-input-container {
    display:none;
    position: absolute; 
    left: 26px; 
    top: 50px; 
    z-index: 1000;
    width:0;
}

#view-task-detail {
}

#view-task-detail-title {
    font-family: 'monospaceTextarea';
    font-size: 32px;
    line-height: 40px;
    padding-top: 35px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.6);
    text-align:justify;
    letter-spacing: -1px;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    /*word-break: break-all;*/
    white-space: normal;
}

#view-task-detail-title:first-letter {
    font-size:64px;
}

#view-task-detail-meta{
    font-size: 30px;
    line-height: 48px;
}
.view-task-detail-meta-separator{
    margin-bottom: 20px;
}
.task-detail-list-context {
    -webkit-border-radius:20px ; 
    background-color:lightgray;
    margin: 8px 20px 10px -10px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:0 10px 0 10px;
    border-radius:20px;
    color:#333333;
    display:inline-block;
    border: solid 1px #555555;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(168, 168, 168)), to(rgba(180, 180, 180, 0.5)));
    /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(128, 128, 128, 0.5)), to(rgba(46, 46, 46, 0.9)));*/
    float:left;
    text-align:left;
}

.task-detail-basket, .task-detail-next-action, .task-detail-someday,
.task-detail-list-context-container, .task-detail-list-project, 
.task-detail-list-due, .task-detail-list-overdue,
.task-detail-past-alarm, .task-detail-future-alarm {
    font-family: 'monospaceTextarea';
    float:left;
    text-align:left;
    margin-left:60px;
    margin-top:3px;
    max-width:420px;
    width:420px;
    margin-top:-40px;
}
.task-detail-list-overdue {
    margin-right:10px;
}

.task-detail-list-context-container {
    margin-top:0;
    width:400px;
    margin-left:38px;
    max-width:400px;
}

.view-task-detail-sub-field {
    padding: 20px;
    margin: 0 20px 0 20px;
}

#main-content-overlay {
    z-index: 20;
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    background: rgba(0,0,0, 0.8);
}

.add-new-detail-title, .detail-title {
    font-size:36px;
}

.add-new-detail-title {
    margin:auto;
    text-align:center;
}
.default-master-detail, .master-title {
    font-size:24px;
    max-width:119px;
    float:left;
    overflow:hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.list-task-number-zero, .list-task-number {
    -webkit-border-radius:10px ;
    margin: 10px 20px 5px 5px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 8px 8px 8px;
    border-radius:10px;
    color:#333;
    display:inline-block;
    font-size:24px;
    line-height:24px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E0E5E4), to(rgba(254, 254, 254, 0.5)));
    border:1px solid #CCC;
    float:right;
    text-align: center;
    min-width: 26px;
}
.list-task-number-zero {
    background: transparent;
    border: 0;
}

#create-task-shortcut {
    min-height:141px; 
    text-align:center;
    height: 141px;
    background: #EEE;
    width:205px;
    padding-top:25px;
}

#create-task-shortcut-search {
    padding-left: 10px;
}


#create-task-placeholder,
#search-task-placeholder {
    background: transparent;
    color: rgba(218, 253, 167, 0.51);
    width: 700px;
    margin-left: 10px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

#search-result-title {
    display:none;
    height:110px;
    line-height:110px;
    text-align:center;
    border-bottom: 1px solid rgb(194, 81, 81);
}

#search-keyword-title-span {
    -webkit-border-radius:20px ; 
    background-color:lightgray;
    margin: 20px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 15px 10px 15px;
    border-radius:20px;
    color: rgb(255, 255, 255);
    display:-moz-inline-box;
    display:inline-block;
    border: 1px solid #77777;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(95, 95, 95, 0.5)), to(rgba(138, 138, 138, 0.9)));
    line-height: 48px;
    font-size: 36px;      
}

.round-panel-title {
    margin-top: 20px;
}

.title-basket {
    color:#6767676;
    font-size:30px;
}

.title-next-action {
    color: rgb(77, 58, 41);
    font-family: 'monospaceTextarea';
    font-weight:bolder;
    font-size:30px;
    padding: 5px 20px 5px 5px;
    background: #EEE;
}

.title-someday {
    color:rgba(90,90,90,0.7);
    font-size:30px;
}
.edit-page-sub-panel-clear-due {
    width:110px;
}

#edit-page-clear-due {}
.edit-page-due-date-input {
    width: 410px;
    float:left;
}

.edit-page-big-reminder-on {
    margin-top:13px;
    margin-left:25px;
    width:60px;
}

.inline-operation-icon {
    width:71px; 
    height: 71px;
    display: inline;
    position: relative;
    left:340px;
    top:5px;
}

#due-date {
    text-align:left;
    padding-left: 20px;
}

#setting-page-enable-reminder-label { 
    float:left;padding-top:30px;
}  

#setting-page-reminder-switch {
    float:right;
}

#login-info {
    text-align: center;
    padding: 15px;
    margin: 50px 50px 30px 50px;
}

#logout-link {
    text-align: center;
    padding: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#D4C7C7)) !important;  
    border-radius: 20px;
    margin:auto;
    margin-bottom: 30px;
    width:600px;
    cursor:hand;
}

#login-form-panel, #signup-form-panel {
    padding: 20px 30px 20px 10px;
    border-radius: 20px;
    margin:auto;
    margin: 30px 0 10px 10px;
    width:650px;
    border: solid 1px #CCC;
    text-align:center;
}

#login-link, #login-link-inner-1, #login-link-inner-2 {
    float:left;
    margin: 20px 0 30px 100px;
    background : -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#D4C7C7)) !important; 
    padding: 20px;
    border-radius: 20px;
}

#signup-link, #signup-link-inner-1, #signup-link-inner-2 { 
    float:right;
    margin: 20px 100px 20px 0;
    background : -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#D4C7C7)) !important; 
    padding: 20px;
    border-radius: 20px;
}

#login-link,  #signup-link{
    margin-top: 40px;
}


#username-label, #pwd-label, #signup-username-label, #signup-pwd-label, 
#signup-confirm-pwd-label {
    float:left;
    margin: 20px 10px 10px 10px;
    font-size:36px;
}

#username-container, #pwd-container, #signup-username-container, 
#signup-pwd-container, #signup-confirm-pwd-container {
    float:right;
    width:470px;
    margin-bottom: 30px;
}

.panel-title {
    margin-bottom: 50px;
    margin: 30px 0 50px 0;
}

#setting-login {
    width: 250px;
    margin-left: 50px;
    float:left;
}

#signup-link-inner {
    margin: 25px 50px 30px 0;
}

.close-login-signup-panel-icon {
    position: absolute;
    right: 0;
    left: 680px;
    top: 160px;
    display: inline;
    z-index: 100;
}

#login-signup-link-panel, #login-form-panel,
#signup-form-panel,.close-login-signup-panel-icon {
    display:none;
}

.group_space_icon_right {
    background-image: url("/resources/image/arrow_right.png");
    background-repeat: no-repeat;
    background-position:center;
}

.group_space_icon_left {
    background-image: url("/resources/image/arrow_left.png");
    background-repeat: no-repeat;
    background-position:center;
}
    

@media screen and (max-height:1280px) {
    #group {
	height:1016px;
    }
    #group-detail-container {
	height:1060px;
    }
    #group-list-panel {
	max-height:900px;
    }
    #detail {
	height:1147px;
    }
    #task-list-container{height:1048px;}

    #detail-list{
	height:1130px;
    }

    #detail-list-panel {
	height:1130px;
    }

    #view-task-detail {
	height: 1000px; 
	display: none; 
	position: absolute; 
	left: 35px; 
	top: 70px; 
	width: 580px; 
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(163, 163, 163, 0.8)));
	/*background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(163, 163, 163, 0)));*/
	-webkit-border-top-left-radius: 40px;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-bottom-left-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	z-index: 1000;
    }

    .px8-clear-sep {
	clear:both;
	height:8px;
    }
}

@media screen and (max-height:720px) {
    #group {
	height:486px;
    }
    #group-detail-container {
	height:500px;
    }
    #group-list-panel {
	max-height:340px;
    }
    #detail {
	height:587px;
    }
    #task-list-container{height:488px;}

    #detail-list{
	height:570px;
    }

    #detail-list-panel {
	height:570px;
    }
    #view-task-detail {
	height: 550px; 
	width:550px;
	margin-left:-20px;
	margin-top:-40px;
    }
    .msg-for-no-task{
	margin: 50px 70px 0 20px;
    }
    #ctsi, #stsi {
	width:640px;
    }
    #group-space {
	margin-top:40px;
    }
    #create-task-placeholder, #search-task-placeholder {
	width:650px;
    }
    .task-detail-list-context-container {
	width:380px;
	margin-left:18px;
	max-width:380px;
    }
}
