.cell {
    font-size: 40px;
}
.td-label {
    font-size: 40px;
    width:20%;
    vertical-align:middle;
    padding-right:20px;
}
.selectedMeta {
    -webkit-border-radius:10px;
    background-color:#E1E6E5;
    margin:15px;
    padding:15px 20px 15px 15px;
    border-radius:10px;
    color:#333;
    display:inline-block; 
    font-size: 24px;
    position:relative;
}
.meta {
    -webkit-border-radius:10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#D4C7C7)) !important;
    background: -moz-linear-gradient(top, #E5E5E5, #D4C7C7) !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    margin:15px;
    padding:15px;
    border-radius:10px;
    color: #444 !important;
    display:inline-block; 
    font-size: 24px;
    opacity:0.7;
    position:relative;
}

#contextContainer, #reminderContainer {
    padding-left:10px;
    margin-bottom: -20px;
}

.deleteIcon {
    position:absolute; top:-10px; right:-10px;
    background-color:transparent;
}

.list-overdue, .list-due, .list-project, .list-context, .list-context-last {
    -webkit-border-radius:10px ;
    margin: 5px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 8px 8px 8px;
    border-radius:10px;
    color:#333;
    display:-moz-inline-box;
    display:inline-block;
    font-size:24px;
    line-height:24px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E0E5E4), to(rgba(204, 204, 204, 0.5)));
    float:left;
}

.list-project {
    margin-right:10px;
}

.list-context-last {
    float:left;
}

.list-due {}

.list-overdue {
    margin-left: -5px;
}

#group-detail-container {
    height:1060px;
}

#group {
    /*float:left;*/
    width:205px;
    height:1006px;
    margin:0 0 0 0;
    background-color: #EEE;
}

#selected-group-item {
    background-color: #FFF;
}

#group-title {
    padding: 20px 0 20px 20px;
    background-color: #EEE;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom: solid 1px #BBB;
    height:54px;
}

#group-title-text {
    font-size:36px;
}

#group-list-panel {
    max-height:900px;
}

#group-list {}

#group-space {
    text-align: center;
    height:102px;
    line-height:102px;
    color: #AAA;
}

#detail {
    /*float:right;*/
    width:523px;
    background-color:#FFF;
    height:1147px;
    margin:0 0 0 0;
    position:absolute;
    top:0px;
    left:205px;
}

#task-list-container{height:1048px;}

#detail-list{
    height:1130px;
}

#detail-list-panel {
    height:1130px;
}

#meta_name::-webkit-input-placeholder, 
#task-name::-webkit-input-placeholder {
    color: red;
}

#error-msg {
  color:red;
  font-weight: bold;
  margin:auto;
  text-align:center
}

#task-name {
    width: 705px;
    margin: 3px 5px 3px 5px;
    padding: 5px;
    font-size:48px;
    font-family: 'monospaceTextarea';
    line-height:150%;
    outline: none;
    resize: none;
    border:0px solid #000;
}

#ctsi, #stsi {
    width:700px;
    border: 15px solid rgba(78, 187, 96, 0.56);
    /*height: 120px;*/
    background-color: rgba(168, 223, 117, 0.51);
    color:white;  
    font-family:monospaceTextarea;
    font-size:48px;
    margin: 3px 5px 3px 5px;
    padding: 5px;
    font-size:48px;
    line-height:150%;
}

#stsi {
    height: 110px;
}

@font-face {
    font-family:monospaceTextarea;
    src: url('../resources/font/monofur/monof56.ttf');
    font-weight: normal;
    font-style: normal;
}

#edit-page-sub-panel-01,
#edit-page-sub-panel-02,
#edit-page-sub-panel-03 {
    margin-top: 20px;
    margin-bottom:15px;
}

#edit-page-sub-panel-reminder {
    display:none;
}

.msg-for-no-task{
    text-align: center; 
    margin: 50px 20px 0 20px;
    min-width: 450px;
}

#error-panel, #error-panel-header {
    display:none;
}

#edit-page-sub-panel-02-reminder-tr {
 
}

.edit-page-sub-panel-01-td {vertical-align:top;}
.edit-page-sub-panel-02-td {padding-left:23px;}
.edit-page-sub-panel-02-td-label {
    padding-top:50px;
    font-size:40px;
    vertical-align:top;
}

#create-task-input-container, #search-task-input-container {
    display:none;
    position: absolute; 
    left: 26px; 
    top: 50px; 
    z-index: 1000;
    width:0px;
}

#view-task-detail {
    display: none; 
    position: absolute; 
    left: 40px; 
    top: 80px; 
    width: 570px; 
    height: 970px; 
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(163, 163, 163, 0.8)));
    /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(163, 163, 163, 0)));*/
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    z-index: 1000;
}

#view-task-detail-title {
    font-family: 'monospaceTextarea';
    font-size: 48px;
    line-height: 60px;
    padding-top: 35px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.6);
}

#view-task-detail-meta{
    font-size: 30px;
    line-height: 48px;
}
.view-task-detail-meta-separator{
    margin-bottom: 20px;
}
.task-detail-list-context {
    -webkit-border-radius:20px ; 
    background-color:lightgray;
    margin: 8px 20px 10px -10px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:0 10px 0 10px;
    border-radius:20px;
    color:#333333;
    display:inline-block;
    border: solid 1px #555555;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(168, 168, 168)), to(rgba(180, 180, 180, 0.5)));
    /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(128, 128, 128, 0.5)), to(rgba(46, 46, 46, 0.9)));*/
    float:left;
    text-align:left;
}

.task-detail-list-context-container, .task-detail-list-project, 
.task-detail-list-due, .task-detail-list-overdue,
.past-alarm, .future-alarm {
    float:left;
    text-align:left;
    margin-left:30px;
    margin-top:3px;
}
.task-detail-list-overdue {
    margin-right:10px;
}

.task-detail-list-context-container {
    margin-top:0px;
    width:400px;
    margin-left:38px;
    max-width:400px;
}

.view-task-detail-sub-field {
    padding: 20px;
    margin: 0 20px 0 20px;
}

#main-content-overlay {
    z-index: 20;
    position: fixed;
    top: 0px;
    right:0px;
    bottom:0px;
    left:0px;
    display:none;
    background: rgba(0,0,0, 0.8);
}

.add-new-detail-title, .detail-title {
    font-size:36px;
}

.add-new-detail-title {
    margin:auto;
    text-align:center;
}
.default-master-detail, .master-title {
    font-size:24px;
    max-width:119px;
    float:left;
    overflow:hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.list-task-number-zero, .list-task-number {
    -webkit-border-radius:10px ;
    margin: 10px 20px 5px 5px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 8px 8px 8px;
    border-radius:10px;
    color:#333;
    display:inline-block;
    font-size:24px;
    line-height:24px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E0E5E4), to(rgba(254, 254, 254, 0.5)));
    border:1px solid #CCC;
    float:right;
    text-align: center;
    min-width: 26px;
}
.list-task-number-zero {
    background: transparent;
    border: 0px;
}

#create-task-shortcut {
    min-height:141px; 
    text-align:center;
    height: 141px;
    background: #EEE;
    border-top: 1px solid #AAA;
    width:205px;
    padding-top:25px;
}

#create-task-shortcut-search {
    padding-left: 10px;
}


#create-task-placeholder,
#search-task-placeholder {
    background: transparent;
    color: rgba(218, 253, 167, 0.51);
    width: 700px;
    margin-left: 10px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

#search-result-title {
    display:none;
    height:110px;
    line-height:110px;
    text-align:center;
    border-bottom: 1px solid rgb(194, 81, 81);
}

#search-keyword-title-span {
    -webkit-border-radius:20px ; 
    background-color:lightgray;
    margin: 20px;
    /** Please notice the behaivor of ripple and the actual device is not exactly the same here so we put different number here */
    padding:5px 15px 10px 15px;
    border-radius:20px;
    color: rgb(255, 255, 255);
    display:-moz-inline-box;
    display:inline-block;
    border: 1px solid #77777;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(95, 95, 95, 0.5)), to(rgba(138, 138, 138, 0.9)));
    line-height: 48px;
    font-size: 36px;      
}

.round-panel-title {
    margin-top: 10px;
}
